

head{
    top: 5px;
    left: 5px;
    right: 5px;
    height:100px;
}

body{ 
    background-color:lightblue;
    top: 5px;
    left: 5px;
    right: 5px;
    height:100px;
}   

p{
    font-family:cursive;
}

footer{
    top: 5px;
    left: 5px;
    right: 5px;
    height:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}